.box {
    background-color: rgba(255, 255, 255, 0.5); /* White background with 0.5 opacity */
    padding: 20px;
    padding-right: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add subtle shadow for better contrast */
    margin-left: auto; /* Push the box to the right */
    margin-right: 20px; /* Add some space from the right edge */
  }

  

  .home-container {
    background-image: url('/money_manager.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }