.buttonregister{
    width: 50%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: blueviolet;
}

.register1{
    margin-bottom: 10px;
    text-decoration: solid;
    
}

.input1{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    background-color: aqua;
}

.registration-container{
    background-image: url('/money_manager.jpg'); /* Replace with the path to your image */
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    align-items:flex-end;
    padding: 20px;
}
.box {
    background-color: rgba(255, 255, 255, 0.2); /* White background with 0.5 opacity */
    padding: 20px;
    padding-right: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 450px;
    margin-left: 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow for better contrast */
    margin-left: auto; /* Push the box to the right */
    margin-right: 20px; /* Add some space from the right edge */
    color: #000; /* Ensure the text remains fully visible */
    backdrop-filter: blur(10px); /* Add a glassmorphic effect */
    border: 1px solid rgba(255, 255, 255, 0.4); /*  Add a subtle border for visibility */
  }
